<div class="preview-box">
  <h2><%= @box.title.upcase %></h2>
    <!-- <p>Hi, I am <%= @box.user.first_name %> <%= @box.user.last_name %>, <br>
    and my box will be destroyed in <%= @box.time_left %> hours!   </p> -->
  <div class="container-fluid text-center">
    <strong><p> THIS BOX WILL BE DESTROYED IN : </p></strong>
      <div class="countdown" data-timer="<%= @box.time_left * 60 %>">
        <div class="tiles"></div>
      </div>
  </div>
  <div class="media">
    <div class="media-left">
      <%= image_tag"#{@box.user.facebook_picture_url}", class: "avatar-large"%>
    </div>
    <div class="media-body">
      <strong><%= @box.user.first_name %> <%= @box.user.last_name %></strong>
      <%= render "users/average_rating", average_rating: @box.user.average_rating %>
    </div>
  </div>
  <div class="text-right">
    <% if  user_signed_in? %>
      <% if @box.is_unlockable?(@latitude, @longitude, @limit_in_km, current_user) %>
        <div class= "btn btn-plus"><%= link_to "OPEN IT !", box_path(@box), class: 'open-it' %></div>
      <% elsif !current_user.has_sufficient_credit? %>
          <div class="nope">Can't be only viewer, you have to create boxes</div>
      <% elsif !@box.is_within_reach?(@latitude, @longitude, @limit_in_km) %>
        <div class="nope">Looks like you're not close enough...</div>
        <div class="nope"><%= @distance.round(2).to_s %> kilometers to go!</div>
      <% end %>
    <% else %>
      <% if @box.is_within_reach?(@latitude, @longitude, @limit_in_km) %>
        <div class= "btn btn-plus"><%= link_to "OPEN IT !", box_path(@box), class: 'open-it' %></div>
      <% else %>
        <div class="nope">Looks like you're not close enough...</div>
        <div class="nope"><%= @distance.round(2).to_s %> kilometers to go!</div>
      <% end %>
    <% end %>
  </div>
</div>
