<div class="preview-box">
  <h2><%= @box.title.upcase %></h2>
    <!-- <p>Hi, I am <%= @box.user.first_name %> <%= @box.user.last_name %>, <br>
    and my box will be destroyed in <%= @box.time_left %> hours!   </p> -->
  <div class="container-fluid text-center">
    <strong><p> THIS BOX WILL BE DESTROYED IN : </p></strong>
      <div class="countdown" data-timer="<%= @box.time_left * 60 %>">
        <div class="tiles"></div>
      </div>
  </div>
  <div class="media">
    <div class="media-left">
      <%= cl_image_tag"#{@box.user.picture.path}", class: "avatar-large"%>
    </div>
    <div class="media-body">
      <strong><%= @box.user.first_name %> <%= @box.user.last_name %></strong>
      <%= render "users/average_rating", average_rating: @box.user.average_rating %>
    </div>
  </div>
  <div class="text-right">
  <% if (@open) %>
    <div class= "btn btn-plus"><%= link_to "OPEN IT !", box_path(@box), class: 'open-it' %></div>
  <% else %>
    <div class="nope">Looks like you're not close enough...</div>
    <div class="nope"><%= @distance.round(2).to_s %> kilometers to go!</div>
  <% end %>
  </div>
</div>
