<div class="wrapper">
  <div class="container_form">
    <div class="row">
       <div class="col-xs-12 col-sm-4"">
        <h1>Report or complain</h1>
        <%= simple_form_for 'And send mail to YoBox', as: 'current_user'  do |f| %>

        <p><%= Time.now %><p>
        <p>Box ID<%= current_user.openings.last.box_id %><p>
        <p>Box opening <%= current_user.openings.last.id %><p>
        <%= f.input :trouble, as: :radio_buttons,
          collection: ['Illegal', 'Not suitable for minor', 'Other'], wrapper: :vertical_radio_and_checkboxes %>
        <%= f.input :comment, as: :text, placeholder: 'Add a comment ?' %>
        <p>Your YoBox email : <%= current_user.email %><p>
        <p>My Name : <%= current_user.first_name %><%= current_user.last_name %><p>
        <%= f.button :submit %>

        <% end %>

      </div>
    </div>
  </div>
</div>
















