<div class="fluid-container">
  <div class="item-title">
    <h1>
      <%= @box.title %>
    </h1>
  </div>
  <div class="iframe">
    <%= @iframe %>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="box-content">
        <%= Rinku.auto_link(@box.content, :all, 'target="_blank"').html_safe %>
      </div>
      <%= link_to "Go back to Map", root_path, class: "btn btn-primary btn-lg btn-block" %>
      <%= link_to "REPORT", report_path, class: "btn btn-danger btn-lg btn-block" %>
    </div>
  </div>
</div>

