<div class="navbar-wagon">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
    <%= image_tag "logo.png" %>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right">

  <!-- Search form -->
  <!--  <form action="" class="navbar-wagon-search">
          <input type="text" class="navbar-wagon-search-input" placeholder="Search something">
          <button type="submit" class="navbar-wagon-search-btn">
            <i class="fa fa-search"></i>
          </button>
        </form> -->

    <!-- Different navigation if login or not -->
    <% if user_signed_in? %>
      <!-- Notification -->
      <!-- Button meter -->
      <%= link_to stats_path, class: "btn-meter btn btn-meter-position" do %>
        <%= current_user.meter %>
      <% end %>
      <div class="hidden-xs hidden-sm">

        <!-- Profile picture and dropdown -->
        <div class="navbar-wagon-item">
          <div class="dropdown">
             <% if current_user.picture.present? %>
              <%= cl_image_tag current_user.picture, class: "avatar-large avatar-bordered dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
            <% else %>
              <%= image_tag "placeholder-user.png", class: "avatar-large avatar-bordered dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
            <% end %>
            <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
              <li><%= link_to stats_path do%>
                <i class="fa fa-bar-chart"></i> <%= t(".profile", default: "Stats") %>
                <% end %>
              </li>
              <li>
                <%= link_to edit_user_registration_path do %>
                  <i class="fa fa-user"></i> <%= t(".profile", default: "Profile") %>
                <% end %>
              </li>
              <li>
                <%= link_to "#" do %>
                  <i class="fa fa-home"></i>  <%= t(".profile", default: "Home") %>
                <% end %>
              </li>
              <li>
                <%= link_to destroy_user_session_path, method: :delete do %>
                  <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
                <% end %>
              </li>
              <li>
                <%= link_to about_path do %>
                  <i class="fa fa-question-circle"></i>  <%= t(".profile", default: "About") %>
                <% end %>
              </li>
            </ul>
          </div>
        </div>
      </div>
    <% else %>
      <div class="hidden-xs hidden-sm">
        <!-- Login text link -->
        <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "btn btn-plus navbar-wagon-button:hover" %>
      </div>
    <% end %>
    <div class="hidden-xs hidden-sm">
      <%= link_to t(".top_call_to_action", default: "Create a box"), new_box_path, class: "btn btn-plus navbar-wagon-button:hover " %>
    </div>
  </div>

  <!-- Dropdown list appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars fa-2x dropdown-toggle burger" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li>
          <%= link_to new_box_path do%>
            <i class="fa fa-cube"></i> <%= t(".profile", default: "New box") %>
          <% end %>
        </li>
        <% if user_signed_in? %>
          <li><%= link_to stats_path do %>
            <i class="fa fa-bar-chart"></i> <%= t(".profile", default: "Stats") %>
          <% end %>
          </li>
          <li>
            <%= link_to edit_user_registration_path do %>
              <i class="fa fa-user"></i> <%= t(".profile", default: "Profile") %>
            <% end %>
          <li>
            <%= link_to destroy_user_session_path, method: :delete do %>
              <i class="fa fa-sign-out"></i> <%= t(".sign_out", default: "Log out") %>
            <% end %>
          </li>
        <% else %>
          <li>
            <%= link_to new_user_session_path do %>
              <i class="fa fa-pencil-square"></i> <%= t(".profile", default: "Sign in") %>
            <% end %>
          </li>
        <% end %>
        <li>
          <%= link_to about_path do %>
            <i class="fa fa-question-circle"></i>  <%= t(".profile", default: "About") %>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</div>
